.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
  width: 40%;
  padding-bottom: 5%;
  box-shadow: 5px 5px 5px #222222;
}

.contactTitle {
  text-decoration: underline;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}

.contactDetails {
  padding-bottom: 2%;
}

.contactName {
  font-weight: bold;
}

.contactDetails a {
  font-size: small;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .contactWrapper {
    width: 90%;
  }
}
