.homeContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    width: 75%;
}

.logo{
    width: 40vw;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%
}

.linkContainer div{
    transition: all .2s ease-in-out;

}
.linkContainer div:hover{
    transform: scale(1.2);
}

.instagram a:hover {
    color:#E1306C
}
.facebook a:hover {
    color: #4267B2
}
.twitter a:hover {
    color: #1DA1F2
}
.youtube a:hover{
    color: #FF0000;
}

.apple a:hover {
    color:white
}

.spotify a:hover{
    color: #1DB954;
}