.eventsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}

.eventsTable{
    display: block;
    width: 75%;
    border:0.1em solid #FFFFFF;
    width: 85%;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.1);
}

.eventCard {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
}

.eventDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;

}

.eventDateCell{
    text-transform: uppercase;
    font-weight: bold;
}
.eventVenueCell {
    display: flex;
    justify-content: space-between;
}

.eventVenueName {
    display: flex,

}

.eventVenueLocation {
    display: flex;
}

a {
    color: black
}

.eventLink {
    text-decoration: none;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    
}

.eventLink:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.eventForm {
    display: flex;
    flex-direction: column;
}

.showEventCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
/* 
@media all and (max-width:30em){
     a.button1{
      display:block;
      margin:0.4em auto;
     }
    } */