.eventsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 75%; */
}

.eventsTable{
    display: flex;
    flex-direction: column;
}

.eventCard {
    display: flex;
    padding: 1rem;
}

.eventDateCell{
    text-transform: uppercase;
    font-weight: bold;
}