.footerContainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 1rem;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    height: 7.5rem;
    background-color: black;
    color: white;
}

.signupContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .85rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameContainer{
    display: flex;
    width: 100%;
}

.email input{
    display: flex;
    width: 100%;
}

.submitBtn input[type="submit"]{
    background-color: white;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.contact {
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    text-align: right;
}
.contact a{
    color: white;
}