.footerContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 2rem;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  height: 15rem;
  background-color: black;
  color: white;
}

.col {
  flex: 1;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submitBtn {
  width: 50%;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  height: 2rem;
  margin: 1rem;
  width: 100%;
  justify-content: space-between;
}
.firstName .lastName {
  height: 2rem;
  width: 50%;
}

.email {
  width: 100%;
  height: 2rem;
}

.submitBtn input[type="submit"] {
  background-color: white;
}

.copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: flex-end;
}

.copyright {
  font-weight: bold;
  font-size: .75rem;
}

.contactContainer {
  display: flex;
  font-size: 0.8rem;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contactContainer a {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 1rem;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    height: 15rem;
    background-color: black;
    color: white;
  }
  .signupContainer {
    justify-content: center;
    font-size: 1rem;
  }

  .contactContainer {
    display: none;
  }

  input {
    width: 100%;
  }

  .copyright {
    margin-top: 1rem;
    font-size: 0.5rem;
  }
}
