.musicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.linkContainer {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  flex-direction: column;
  width: 75%;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5%;
  box-shadow: 5px 5px 5px #222222;
}
.links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: 1;
}

.linkTitle {
  font-size: 2rem;
  padding-bottom: 5%;
  font-weight: bold;
}

.links div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 100%;
}

.links div {
  transition: all 0.2s ease-in-out;
}
.links div:hover {
  transform: scale(1.2);
}

.apple a:hover {
  color: white;
}

.spotify a:hover {
  color: #1db954;
}

.amazon a:hover {
  color: #ff9900;
}

.deezer a:hover {
  color: #ff0092;
}
.bandcamp a:hover {
  color: blue;
}
.youtube a:hover {
  color: #ff0000;
}

@media only screen and (max-width: 600px) {
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .links {
    font-size: small;
  }

  .links div {
    font-size: 90%;
    margin: 0.5rem;
  }

  .linkContainer {
    width: 95%;
  }

  .linkTitle {
    font-size: 7vw;
  }

  .apple a {
    color: black;
  }

  .spotify a {
    color: #1db954;
  }

  .amazon a {
    color: #ff9900;
    font-size: small;
  }

  .deezer a {
    color: #ff0092;
  }
  .bandcamp a {
    color: blue;
  }
  .youtube a {
    color: #ff0000;
  }
}
