.musicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  width: 100vw;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.linkContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  border-radius: 0.5em;
  /* background-color: rgba(255, 255, 255, 0.4); */
  padding: 5%;
  /* box-shadow: 5px 5px 5px #222222; */
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.featureContainer h2 {
  font-size: 1.5rem;
}
.featureContainer div {
  margin-top: 1rem;
}

.links {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.linkTitle {
  font-size: 1.5rem;
  padding-bottom: 5%;
  font-weight: bold;
}

.links div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 100%;
}

.links div:hover {
  transform: scale(102.5%);
}

.nugs {
  height: 66px;
}
.nugs a {
  color: #ff0000;
}

.apple a {
  color: white;
}

.spotify a {
  color: #1db954;
}

.amazon a {
  color: #ff9900;
}

.deezer a {
  color: #ff0092;
}
.bandcamp a {
  color: blue;
}
.youtube a {
  color: #ff0000;
}
.image {
  width: 60%;
  box-shadow: 5px 5px 5px #222222;
  border-radius: 0.5em;
  display: block;
  margin-top: 1rem;
}

@media only screen and (max-width: 750px) {
  .linkContainer {
    width: 95%;
    flex-direction: column-reverse;
  }

  .featureContainer {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .links {
    flex-direction: column;
  }

  .links div {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }

  .links div a {
    display: flex;
    margin-bottom: 2rem;
  }
  .links div a div {
    margin-left: 2rem;
    font-size: larger;
  }

  .linkTitle {
    margin-left: 2rem;
  }

  .apple a {
    color: black;
  }

  .spotify a {
    color: #1db954;
  }

  .amazon a {
    color: #ff9900;
    font-size: small;
  }

  .deezer a {
    color: #ff0092;
  }
  .bandcamp a {
    color: blue;
  }
  .youtube a {
    color: #ff0000;
  }
}
