.musicContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.linkContainer{
    text-align: center;
    width: 75%;
    border:0.1em solid #FFFFFF;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, .8);
    padding: 5%;

}
.links {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.linkTitle {
    font-size: 2rem;
    padding-bottom: 5%;
    font-weight: bold;

}

.links div{
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-weight: bold;
    font-size: 100%; 
}

.links div{
    transition: all .2s ease-in-out;

}
.links div:hover{
    transform: scale(1.2);
}

.apple a:hover {
    color:white
}

.spotify a:hover{
    color: #1DB954;
}

.amazon a:hover{
    color: #FF9900;
}

.deezer a:hover{
    color: #FF0092;
}
.bandcamp a:hover{
    color: blue;
}
.youtube a:hover{
    color: #FF0000;
}


