.shopContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsContainer {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;

    
}
.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 1em;
    background-color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.productLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.productImage {
    display: flex;
    width: 80%

}

.productName {
    font-weight: bold;
}

.newProductForm {
    display: flex;
   
    justify-content: space-between;
    flex-direction: column;
}