.shopContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 85%;
    /* background-color: white; */
}
.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1rem;

}

.productImage {
    display: flex;
    width: 80%;

}

.newProductForm {
    display: flex;
   
    justify-content: space-between;
    flex-direction: column;
}