.shopContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}

.productsContainer {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 5%;
    justify-content: center;
    width: 80%;
 
}
.productCard {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.productLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.productImage {
    display: flex;
    width: 80%

}

.productName {
    font-weight: bold;
}


.showProductCard {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60%;
    border:0.1em solid #FFFFFF;
    border-radius: .5em;
    background-color: white;
    padding: 1%
    
}
.showProductImageContainer {
    width: 50%;
    
}
.showProductImage {
    width: 100%
}

.showProductDetails {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 50%;
}


.productFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    border:0.1em solid #FFFFFF;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5%
}

.productForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}