* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #E8FFFF, #41AEA9);
    /* background-image: linear-gradient(to bottom right, #F8F1F1, #16C79A); */
    /* background-image: linear-gradient(to bottom right, #F1F6F9, #14274E); */
    /* Favorite */
    background-image: linear-gradient(to bottom right, #EBA83A, #FFF8D9);
    /* background-image: linear-gradient(to bottom right, #BD9354, #E3D18A); */

    background-repeat: no-repeat;
    background-attachment: fixed;
    text-decoration: none;

}

h1 {
  font-size: 3em;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
  font-weight: bold;
  padding: 5%;
}


a:-webkit-any-link {
  
  cursor: pointer;
  text-decoration: none;
}

input[type="button"], input[type="submit"] {
  color: black
}

input[type="button"], input[type="submit"]{
  text-decoration: none;
  display:inline-block;
  padding:0.45rem 1.5rem;
  border:0.1em solid #FFFFFF;
  margin-top: 1rem;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:bold;
  color: black;
  text-align:center;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.001);
  
}

input[type="button"]:hover, input[type="submit"]:hover{
  color:#000000;
  background-color:#FFFFFF;

}

