* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
}

.App {
  padding-bottom: 15rem;
  position: relative;
  min-height: 100vh;

}

h1 {
  font-size: 3em;
  /* -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222); */
  font-weight: bold;
  padding: 2.5%;
  padding: 5%;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

input[type="button"],
input[type="submit"] {
  color: black;
}

input[type="button"],
input[type="submit"] {
  text-decoration: none;
  display: inline-block;
  padding: 0.45rem 1.5rem;
  border: 0.1em solid #ffffff;
  margin-top: 1rem;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.001);
}

input[type="button"]:hover,
input[type="submit"]:hover {
  color: #000000;
  background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .App {
    padding-bottom: 15rem;
    min-height: 100vh;
    position: relative;
  }

  h1 {
    font-size: 2em;
    margin: 5%;
  }
}
