@import-normalize

{}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom right, #E8FFFF, #41AEA9);
}

h1 {
  font-size: 3em;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

