.navContainer {
    display: flex;
    justify-content: space-evenly;
    width: 50vw; 
    padding-top: 2em;   
}

.navLink {
    font-size: 2vw;
    text-decoration: none;
    color: black;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.active {
    color: #E8FFFF
}