.navContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 2em; 
    padding-bottom: 2em;
    width: 75%;
    z-index: 2;
}

.navContainer div {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.navLink {

    font-size: 3vw;
    text-decoration: none;
    color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
    
}

.active {
    color: #E8FFFF
}

.navContainer div{
    transition: all .2s ease-in-out;

}
.navContainer div:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 600px) {

    .navContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        padding-top: 2em; 
        padding-bottom: 2em;
        width: 75%;
        height: 50%;
    }

    .navLink {

        font-size: 7.5vw;
        text-decoration: none;
        color: white;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(5px 5px 5px #222222);
        
    }


}