/* .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    border:0.1em solid #FFFFFF;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2.5%;
}

.userFormNameCell {
    display: flex;
    flex-direction: column;
}
 */
